{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{% assign collection = collections['all'] %}

{% for product in collection.products %}
  <div>
    <h3>{{ product.title }}</h3>
    <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
    <p>{{ product.price | money }}</p>
  </div>
{% endfor %}


{% schema %}
{
  "name": "Один товар",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Вибрати товар"
    }
  ],
  "presets": [
    {
      "name": "Один товар"
    }
  ]
}
{% endschema %}
